@use './variables' as *;

.table-of-contents {
    padding: 1rem 0;
    border-bottom: 1px solid $color-border;

    [data-theme='dark'] & {
        border-color: var(--color-border);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .toc-item {
        margin: 0;

        a {
            display: block;
            padding: 0.5rem 1.5rem;
            color: $color-text-secondary;
            text-decoration: none;
            font-size: 0.875rem;
            transition: all 0.2s ease;
            border-left: 3px solid transparent;

            [data-theme='dark'] & {
                color: var(--color-text-secondary);
            }

            &:hover {
                color: $color-text-primary;
                background-color: $color-surface;
                border-left-color: $color-brand-400;

                [data-theme='dark'] & {
                    color: var(--color-text-primary);
                    background-color: var(--color-surface);
                    border-left-color: $color-brand-500;
                }
            }
        }

        &.toc-level-2 {
            a {
                font-weight: 500;
            }
        }

        &.toc-level-3 {
            a {
                padding-left: 2.5rem;
                font-size: 0.8125rem;
            }
        }
    }
}

